.selfie {
    height: 250px;
    width: 200px;
    border: 10px solid lightskyblue;
}

.background {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.background h3 {
    text-align: center;
}

.background p {
    font-size: 17px;
    display: flex;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

.work img {
    width: 700px;
    height: 400px;
    display: block;
}

.work .first {
    width: 800px;
    height: 500px;
} 

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links img {
    width: 125px;
    height: 125px;
    justify-content: flex-start;
    flex-direction: column;
}

body {
    background: linear-gradient(135deg, rgb(16, 141, 219), rgb(250, 250, 61), rgb(250, 137, 32));
    background-size: 400% 400%;
    animation: pulse 8s ease-in-out infinite;
}

/*creates a pulsing background color*/
@keyframes pulse {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    margin-right: 20px;
    list-style-type: none;
}

header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
