* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.selfie {
    height: 250px;
    width: 200px;
    border: 10px solid lightskyblue;
}
/* sets the styling of the about me section*/
.background {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border: 5px double #fff;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    flex: 1;
    min-width: 0;
}

.background h3 {
    text-align: center;
}

.background p {
    font-size: 17px;
    text-align: center;
    display: flex;
}
/*styles the image placements of the projects and contact me sections */
.container-1, .container-2 {
    text-align: center;
    font-size: 17px;
}

.container-1, .container-2 {
    display: flex;
    justify-content: space-between;
}

.container-1 section, .container-2 section {
    border: 5px double #fff;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    flex: 1;
    min-width: 0;
}

.container-1 img, .container-2 img {
    display: inline;
    margin: 10px;
    width: 125px;
    height: 125px;
}
/*sets a hover effect for all images that changes when a click is active*/
img:hover {
    box-shadow: 5px 5px 5px red;
}

img:active {
    box-shadow: -5px -5px 5px red;
}
/*specifically styles the project images to help with responsiveness*/
.work img {
    max-width: 700px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.work .first {
    max-width: 800px;
    max-height: 500px;
}
/*creates a pulsing background color for the body of the html*/
body {
    background: linear-gradient(135deg, rgb(16, 141, 219), rgb(250, 250, 61), rgb(250, 137, 32));
    background-size: 400% 400%;
    animation: pulse 8s ease-in-out infinite;
}
@keyframes pulse {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/*styles the nav bar to be centered beneath the head of the page*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

ul {
    display: flex;
    align-items: center;
}
ul li {
    margin-right: 20px;
    list-style-type: none;
}

header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}

/*@media screen to fix responsiveness of project images*/
@media screen and (max-width: 1400px) {
    .container-1, .container-2 {
        flex-direction: column;
    }
    .container-1 img{
        max-width: 100%;
    }

    .work .first {
        max-width: 100%;
    }

@media screen and (max-width: 768px) {
    .container-1, .container-2 {
        flex-direction: column;
    }

    .container-1 img {
        max-width: 75%;
    }
    
    .work .first {
        max-width: 80%;
    }
}

@media screen and (max-width: 542px) {
    .container-1, .container-2 {
        flex-direction: column;
    }

    .container-1 img {
        max-width: 75%;
    }
    
    .work .first {
        max-width: 80%;
    }
  }
}