.selfie {
    height: 250px;
    width: 200px;
}

body {
    background: linear-gradient(135deg, rgb(16, 141, 219), rgb(250, 250, 61), rgb(250, 137, 32));
    background-size: 400% 400%;
    animation: pulse 8s ease-in-out infinite;
}

/*creates a pulsing background color*/
@keyframes pulse {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    margin-right: 20px;
    list-style-type: none;
}

header p {
    display: flex;
    justify-content: center;
    align-items: center;
}
